@{
    // Just use the InitialState parameter to initialize the store, then dump it so it can be collected.
    var initialState = InitialState!;
    InitialState = null;
}

<Provider InitialState="initialState">
    @{ 
        var queues = context.CurrentState.Queues.IsLoading ?
            Array.Empty<QueueModel>() :
            context.CurrentState.Queues.Queues;
    }
    <CascadingAuthenticationState>
        <header>
            <NavMenu Queues="@queues" />
        </header>

        <Router AppAssembly="typeof(Startup).Assembly">
            <NotFoundContent>
                <p>Not found!</p>
            </NotFoundContent>
        </Router>
    </CascadingAuthenticationState>
</Provider>

@code {
    [Parameter] ApplicationState? InitialState { get; set; }
}
