@inject StateService State

<CascadingValue Value="AppState">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>

@code {
    public AppState AppState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppState = await State.GetStateAsync();
    }
}
