@{
    // Just use the InitialState parameter to initialize the store
    var initialState = InitialState;
    InitialState = null;
}

<Provider InitialState="initialState">
    <CascadingAuthenticationState>
        <Router AppAssembly="typeof(Startup).Assembly">
            <NotFoundContent>
                <p>Not found!</p>
            </NotFoundContent>
        </Router>
    </CascadingAuthenticationState>
</Provider>

@code {
    [Parameter] ApplicationState? InitialState { get; set; }
}
