<nav class="navbar navbar-dark navbar-expand navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="#">HubQ</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink Match="NavLinkMatch.All" class="nav-link" href="#">Home <span class="sr-only">(current)</span></NavLink>
            </li>
        </ul>
    </div>
</nav>

@functions {
    bool collapseNavMenu = false;

    string NavMenuCssClass => collapseNavMenu ? "navbar-collapse collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
