@inherits ConnectedComponentBase<AppState>
@page "/"

<div class="container">
    <h1>Issues</h1>

    @if(State.IssueList.Loaded)
    {
        <IssueList Issues="@State.IssueList.Issues" />
    }
    else if (State.IssueList.Loading)
    {
        <div>Loading...</div>
    }
    else
    {
        <button type="button" onclick="@Act(() => LoadIssuesAction.Instance)">Load</button>
    }
</div>
