@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">HubQ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink href="/" ActiveClass="active" class="nav-link text-dark">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/Privacy" ActiveClass="active" class="nav-link text-dark">Privacy</NavLink>
                </li>
            </ul>
        </div>
        <div>
            <AuthorizeView>
                <NotAuthorized>
                    <a href="/Account/Login">Login</a>
                </NotAuthorized>
                <Authorized>
                    <form id="logout-form" class="form-inline" method="POST" action="/Account/Logout">
                        <div>
                            Welcome, @context.User.Identity.Name!
                            <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>
                        </div>
                    </form>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</nav>
