@if(Queues == null)
{
    throw new InvalidOperationException("Missing required parameter 'Queues'");
}

<ul>
@foreach(var queue in Queues)
{
    <li>
        <a href="@queue.Url">@queue.Name</a>
        @if(queue.Children.Any())
        {
            <QueuesList Queues="queue.Children" />
        }
    </li>
}
</ul>

@code {
    [Parameter] IEnumerable<QueueModel>? Queues { get; set; }
}
