@page "/"

@code {
    protected override void OnInit()
    {
        base.OnInit();

        // Start loading queues
        Store.Dispatch(Actions.LoadQueues.Instance);
    }
}

<AuthorizeView>
    <NotAuthorized>
        <div class="jumbotron">
            <h1 class="display-4">HubQ</h1>
            <p class="lead">GitHub Dispatching and Issue Triage Queues</p>
            <hr />
            <p>Please login via GitHub before continuing</p>
            <a href="/Account/Login" class="btn btn-primary btn-lg" role="button">Login</a>
        </div>
    </NotAuthorized>
    <Authorized>
    </Authorized>
</AuthorizeView>
