@page "/views/{ViewSlug}"
@inject IOptions<SiteOptions> SiteOptions

@if (_definition == null)
{
    <h3>Not Found</h3>

    <div class="alert alert-danger" role="alert">
        Could not find a view named '@ViewSlug'!
    </div>
}
else
{
    <GitHubView View="_definition" />
}

@code {
    [CascadingParameter]
    public AppState State { get; set; }

    private ViewDefinition _definition;

    [Parameter]
    public string ViewSlug { get; set; }

    protected override void OnInitialized()
    {
        if(SiteOptions.Value.Views != null)
        {
            _definition = SiteOptions.Value.Views
                .FirstOrDefault(v => string.Equals(v.Slug, ViewSlug, StringComparison.OrdinalIgnoreCase));
        }
    }
}
